#main{
	margin-left:auto;
	margin-right:auto;
	width:280px;
	margin-top:50px;
}
input{
	width:160px;
}
#redstar{
	color:red;
}
div{
	padding-bottom:5px;
}
#button_area{
	margin-top:10px;
	margin-left:40px;
}
i{
	padding-left:10px;
}
.fa-check{
	color:green;
}
.fa-close{
	color:red;
}
body{
	background-color:#F0F8FF;
}